<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.multiwork.andres"
    android:versionCode="5"
    android:versionName="1.5" >

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <uses-sdk 	android:minSdkVersion="9"
        		android:targetSdkVersion="18"/>

    <!--
    Los uiOptions="splitActionBarWhenNarrow" provocan que la ActionBar se divida (split) entre arriba y
    abajo cuando no hay lugar como por ejemplo en posición portrait
    -->
	<!-- Todos los px se miden en dp con android:anyDensity="true" -->

    <supports-screens
        android:anyDensity="true"	
        android:largeScreens="true"
        android:normalScreens="true"
        android:xlargeScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name=".ApplicationContext"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/Theme.Sherlock.Light.DarkActionBar"
        android:label="@string/app_name"
        android:uiOptions="splitActionBarWhenNarrow" >

        <activity
            android:name=".MainMenu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:screenOrientation="landscape"
            android:name=".LCView"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:screenOrientation="landscape"
            android:name=".FrecView"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:screenOrientation="landscape"
            android:name="com.protocolanalyzer.andres.LogicAnalizerActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="com.protocolanalyzer.andres.LogicAnalizerPrefs"
            android:label="@string/app_name" >
        </activity>
        
        <activity 
       	    android:name="com.protocolanalyzer.andres.PruebaParser" >
       	</activity>
        
       	<activity
            android:name=".MainPrefs"
            android:label="@string/app_name" >
        </activity>
        
       	<activity
            android:name="com.roboticarm.andres.BrazoRobot"
            android:screenOrientation="landscape" >
        </activity>
       	
       	<activity android:name="com.bluetoothutils.andres.DeviceListActivity"
                  android:label="@string/select_device"
                  android:theme="@android:style/Theme.Holo.Dialog"
                  android:configChanges="orientation|keyboardHidden" >
       	</activity>
       	
       	<activity android:name="org.acra.CrashReportDialog"
	        android:theme="@android:style/Theme.Dialog"
	        android:launchMode="singleInstance"
	        android:excludeFromRecents="true"
	        android:finishOnTaskLaunch="true" />
        
    </application>

</manifest>